name: Bing_Wallpaper_Node

on:
  schedule:
    - cron: "1 1 * * *"
  workflow_dispatch:

jobs:
  play:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://npm.pkg.github.com/
      - name: Npm install
        run: npm install
      - name: Run Project
        run: npm run build
      - name: Commit files
        run: |
          git config --local user.email "exposir@foxmail.com"
          git config --local user.name "exposir"
          git pull
          git add ./
          git commit -m "update wallpaper"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.MY_GIT_TOKEN }}
          branch: main
